<style>
    /*----Profile----*/

    .media {
        display: flex;
        align-items: flex-start;
    }
    .mediaicon {
        font-size: 18px;
        border: 1px solid #0061da;
        background: #0061da;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 5px 0px;
        border-radius: 20px;
    }
    .media-body {
        flex: 1;
        padding:0;
    }
    .media-heading * {
        font-size:100%;
    }
    .mediafont {
        font-size: 16px;
        font-weight: 600;
    }
    .avatar i {
        font-size: 125%;
        vertical-align: sub;
    }
    .avatar-status {
        position: absolute;
        right: -2px;
        bottom: -2px;
        width: .75rem;
        height: .75rem;
        border: 2px solid #fff;
        background: #868e96;
        border-radius: 50%;
    }
    .avatar-sm {
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .75rem;
    }
    .avatar-md {
        width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
    }
    .avatar-lg {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.25rem;
    }
    .avatar-xl {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.75rem;
    }
    .avatar-xxl {
        width: 5rem;
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
    }
    .avatar-placeholder {
        background: #ced4da url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="134" height="134" viewBox="0 0 134 134"><path fill="#868e96" d="M65.92 66.34h2.16c14.802.42 30.928 6.062 29.283 20.35l-1.618 13.32c-.844 6.815-5.208 7.828-13.972 7.866H52.23c-8.764-.038-13.13-1.05-13.973-7.865l-1.62-13.32C34.994 72.4 51.12 66.76 65.92 66.34zM49.432 43.934c0-9.82 7.99-17.81 17.807-17.81 9.82 0 17.81 7.99 17.81 17.81 0 9.82-7.99 17.807-17.81 17.807-9.82 0-17.808-7.987-17.808-17.806z"/></svg>') no-repeat center/80%;
    }
    .avatar-list {
        margin: 0 0 -.5rem;
        padding: 0;
        font-size: 0;
    }
    .avatar-list .avatar {
        margin-bottom: .5rem;
    }
    .avatar-list .avatar:not(:last-child) {
        margin-right: .5rem;
    }
    .avatar-list-stacked .avatar {
        margin-right: -.8em !important;
    }
    .avatar-list-stacked .avatar {
        box-shadow: 0 0 0 2px #fff;
    }
    .avatar-blue {
        background-color: #c8d9f1;
        color: #467fcf;
    }
    .avatar-indigo {
        background-color: #d1d5f0;
        color: #6574cd;
    }
    .avatar-purple {
        background-color: #e4cff9;
        color: #867efc;
    }
    .avatar-pink {
        background-color: #fcd3e1;
        color: #ec82ef;
    }
    .avatar-red {
        background-color: #f0bcbc;
        color: #c21a1a;
    }
    .avatar-orange {
        background-color: #fee0c7;
        color: #fc7303;
    }
    .avatar-yellow {
        background-color: #fbedb7;
        color: #ecb403;
    }
    .avatar-green {
        background-color: #cfeab3;
        color: #4ecc48;
    }
    .avatar-teal {
        background-color: #bfefea;
        color: #2bcbba;
    }
    .avatar-cyan {
        background-color: #b9e3ea;
        color: #17a2b8;
    }
    .avatar-white {
        background-color: white;
        color: #fff;
    }
    .avatar-gray {
        background-color: #dbdde0;
        color: #868e96;
    }
    .avatar-gray-dark {
        background-color: #c2c4c6;
        color: #343a40;
    }
    .avatar-azure {
        background-color: #c7e6fb;
        color: #45aaf2;
    }
    .avatar-lime {
        background-color: #d7f2c2;
        color: #7bd235;
    }
    .product-price {
        font-size: 1rem;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/tickets">Tickets</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chat With Pedro</li>
    </ol>
</nav>
<section class="row">
    <section id="sidebar" class="col-md-3 bg-light p-4 mt-2">
        <form>
            <div class="form-group">
                <label>Atribuído</label>
                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">CCs:</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.
                </small>
            </div>
            <hr/>

            <div class="form-group">
                <label for="exampleInputPassword1">Tags</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tipo:</label>
                        <select class="custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Prioridade:</label>
                        <select class="custom-select">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>

            <hr/>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
    <section id="ticket-list" class="col-md-9 pt-0">
        <h1 class="font-weight-bold mb-4">Chat with Pedro Santiago</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Resposta
                    Pública</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab">Tratativa</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-1" style="border:1px solid #ddd;border-top:none;border-radius:3px;"
                 id="profile" role="tabpanel" aria-labelledby="profile-tab">


                <div class="card">
                    <textarea style="border:none;" class="form-control" id="exampleFormControlTextarea1" rows="8">


                    </textarea>
                    <div class="card-footer text-muted text-right">
                        <button class="btn btn-primary btn-sm">Enviar como Aberto</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div>

        <hr />

        <div class="py-4">
            <ul class="list-group card-list-group">
                <li class="list-group-item p-4">
                    <div class="media m-0">
                        <div class="media-object avatar brround avatar-md mr-4"
                             style="background-image: url('http://placehold.it/200/200')"></div>
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="float-right text-muted">4 min</small>
                                <h5><strong>George Mestayer</strong></h5></div>
                            <div> Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item p-4">
                    <div class="media m-0">
                        <div class="media-object avatar brround avatar-md mr-4"
                             style="background-image: url(http://placehold.it/200/200)"></div>
                        <div class="media-body">
                            <div class="media-heading">
                                <small class="float-right text-muted">34 min</small>
                                <h5><strong>George Mestayer</strong></h5></div>
                            <div> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
                                quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                                omnis dolor repellendus
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </section>
</section>