<script type="text/javascript">
    $(document).ready(function(){
        $('#plate').mask('AAA-0000', {placeholder: "___-____"});
        $('#manifest,#name,#driver,#plate,#dock_id,#note').attr('readonly', true);
        $('#operation').change(function(){
            $('.needs-validation').removeClass('was-validated');
            switch($(this).val()){
                case '':
                    $('#manifest,#name,#driver,#plate,#dock_id,#note').attr('readonly', true);
                    break;
                case 'client':
                    $('#driver,#plate,#name,#note').attr('readonly', false);
                    $('#manifest,#dock_id').attr('readonly', true);
                    break;
                case 'delivery_pickup':
                    $('#driver,#plate,#dock_id,#note').attr('readonly', false);
                    $('#manifest,#name').attr('readonly', true);
                    break;
                case 'travel':
                    $('#partnership').attr('readonly', true);
                    $('#driver, #plate, #dock_id, #manifest').attr('readonly', false);
                    break;
                case 'partnership':
                    $('#manifest, #name, #driver, #plate, #dock_id').attr('readonly', false);
                    break;
            }
        });

        $('#dock_id').change(function(){
            $('#register-arrival').attr('action', '/admin/docks/'+$(this).val()+'/arrival');
        });

       $('#manifest').blur(function(){
          if($(this).val() != ''){
              $.get('/api/manifests/scan/M$POA$1$'+$(this).val(), function(manifest){
                  $('#plate').val(manifest.plate);
                  $('#driver').val(manifest.driver.name);
                  $('#manifest_id').val(manifest.id);
                  $('#manifest').removeClass('is-invalid');
              }).fail(function(){
                  $('#manifest').addClass('is-invalid')
              });
          }
       });

        $('#manifest_exit').blur(function(){
            if($(this).val() != ''){
                $.get('/api/manifests/scan/M$POA$1$'+$(this).val(), function(manifest){
                    $('#manifest_exit_id').val(manifest.id);
                    $('#driver_exit').val(manifest.driver.name);

                    $('#manifest_exit').removeClass('is-invalid');
                }).fail(function(){
                    $('#manifest_exit').addClass('is-invalid')
                });
            }
        });

       $('.needs-validation').submit(function(e){
          if($(this).get(0).checkValidity() === false){
              e.stopPropagation();
              e.preventDefault();
          }
           $(this).addClass('was-validated');
       });

        $('#register-departure').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var modal = $(this);
            modal.find('.modal-title strong').text(button.data('dock'));
            modal.find('.modal-body input#manifest_exit_id').val(button.data('id'));
            modal.find('form').attr('action', '/admin/docks/'+button.data('id')+'/departure');
        });

    });
</script>

<!-- Modal -->
<div class="modal fade" id="register-departure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Confirmar Saída na Doca <strong></strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" class="needs-validation" method="post">
                <div class="modal-body">
                    <div class="form-group column">
                        <label class="form-label">Número do Manifesto:</label>
                        <input type="text" id="manifest_exit" name="manifest" class="form-control" />
                        <div class="invalid-feedback">
                            Manifesto inválido
                        </div>
                        <input type="hidden" name="manifest_id" id="manifest_exit_id" />
                        <input type="hidden" name="driver" id="driver_exit" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Registrar Saída</button>
                </div>
            </form>

        </div>
    </div>
</div>


<form novalidate action="" id="register-arrival" class="needs-validation jumbotron bg-light pt-4  pb-4 mt-3" method="post" >
    <h3 class="">Registrar Entrada de Veículos</h3>
    <hr />
    <div class="row">
        <div class="form-group column col-md-3">
            <label class="form-label" for="operation">Operação:</label>
            <select class="custom-select" name="operation" id="operation" required>
                <option value="" selected>Selecione</option>
                <option value="delivery_pickup">Coleta/Entrega</option>
                <option value="travel">Viagem</option>
                <option value="partnership">Parceria</option>
                <option value="client">Cliente</option>
            </select>
            <div class="invalid-feedback">
                Selecione uma Operação
            </div>
        </div>
        <div class="form-group column col-md-2">
            <label class="form-label" for="plate">Doca:</label>
            <select class="custom-select" id="dock_id" required>
                <option value="">Selecione</option>
                {{#each empty}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <div class="invalid-feedback">
                Selecione uma Doca
            </div>
        </div>
        <div class="form-group column col-md-2">
            <label class="form-label">Num. Manifesto:</label>
            <input type="text" id="manifest" name="manifest" class="form-control" />
            <div class="invalid-feedback">
                Manifesto inválido
            </div>
            <input type="hidden" name="manifest_id" id="manifest_id" />
        </div>

        <div class="form-group column col-3">
            <label class="form-label" for="driver">Motorista:</label>
            <input type="text" class="form-control" name="driver" id="driver"  required />
            <div class="invalid-feedback">Campo Obrigatório</div>
        </div>
        <div class="form-group column col-2">
            <label class="form-label" for="plate">Placa:</label>
            <input type="text" class="form-control" style="text-transform: uppercase" name="plate" id="plate"  required />
            <div class="invalid-feedback">Especifique a placa</div>
        </div>
    </div>
    <div class="row">
        <div class="form-group column col-md-3">
            <label class="form-label" for="plate">Nome da Parceria/Cliente:</label>
            <input type="text" class="form-control" name="name" id="name"  />
        </div>
        <div class="form-group column col-md-5">
            <label class="form-label" for="plate">Obs:</label>
            <input type="text" class="form-control" name="note" id="note"  />
        </div>
    </div>
    <button class="btn btn-primary btn-lg" style="margin-top:20px;margin-bottom:20px;">Salvar</button>
</form>
<hr />

<div class="p-4">
    {{#if occupied.length }}
        <h3 class="">Veículos no Depósito</h3>
        <table class="table mt-4  table-hover">
            <thead>
            <tr>
                <th class="text-center">Doca</th>
                <th>Placa</th>
                <th>Motorista</th>
                <th>Data Entrada</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>

            {{#each occupied}}
                <tr>
                    <td class="text-center">{{this.name}}</td>
                    <td>{{this.vehicle.plate}}</td>
                    <td>-</td>
                    <td>{{dateFormat this.updated_at "DD/MM/Y h:mm"}}</td>
                    <td class="p-1"><button class="btn btn-link" type="button" data-toggle="modal" data-target="#register-departure" data-id="{{this.id}}" data-dock="{{this.name}}">Registrar Saída</button></td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    {{else}}
        <h1 class="text-center p-5">Nenhum Veículo no Depósito</h1>
    {{/if}}
</div>
