<h3 class="mb-4">Visão Geral <span class="">Tickets</span></h3>


<div class="row">
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 bg-light card card-small">
            <div class="card-body p-0 d-flex">
                <div class="d-flex flex-column m-auto">
                    <div class="stats-small__data text-center">
                        <span class="stats-small__label text-uppercase">B.Os Abertos</span>
                        <h6 class="stats-small__value count my-3">{{total_open}}</h6>
                    </div>
                    <div class="stats-small__data">
                        <span class="stats-small__percentage stats-small__percentage--increase">4.7%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card bg-light card-small">
            <div class="d-flex flex-column m-auto">
                <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Abertos Hoje</span>
                    <h6 class="stats-small__value count my-3">{{opened_today}}</h6>
                </div>
                <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card bg-light card-small">
            <div class="d-flex flex-column m-auto">
                <div class="stats-small__data text-center">
                    <span class="stats-small__label text-uppercase">Fechados Hoje</span>
                    <h6 class="stats-small__value count my-3">{{closed_today}}</h6>
                </div>
                <div class="stats-small__data">
                    <span class="stats-small__percentage stats-small__percentage--increase">12.4%</span>
                </div>
            </div>
        </div>
    </div>
</div>