<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    </ol>
</nav>
<section class="row">
    <section id="sidebar" class="col-md-3 bg-light p-4 mt-2">
        <ul class="nav nav-pills flex-column ">
            <li class="nav-item">
                <a class="nav-link active" href="#">Meus Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recém Adicionados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Todos os Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Lixeira</a>
            </li>
        </ul>
    </section>
    <section id="ticket-list" class="col-md-9 pt-0">
        <h1 class="font-weight-bold mb-4">Tickets</h1>
        <table class="table" data-test-id="table_main">
            <thead>
                <tr class="ember-view sorting">
                    <th class="leading pl-0 pr-0" style="width:1px;">
                        <div></div>
                    </th>
                    <th class="selection"><input type="checkbox"></th>
                    <th></th>
                    <th></th>
                    <th data-column-id="subject" class="sortable">Assunto</th>
                    <th data-column-id="requester" class="sortable">Solicitante</th>
                    <th data-column-id="created" class="sortable">Solicitado</th>
                    <th data-column-id="type" class="sortable">Tipo</th>
                    <th data-column-id="priority" class="sortable last">Prioridade</th>
                    <th class="trailing"></th>
                </tr>
            </thead>

            <tbody id="ember2782" class="ember-view fr-focus">
                <tr
                    data-focused="true" data-selected="false">
                    <td class="leading pl-1 pr-0 bg-primary">

                    </td>
                    <td class="selection"><input type="checkbox"></td>
                    <td class="collision">
                        <div></div>
                    </td>
                    <td class="status"><span class="badge badge-danger">A</span></td>
                    <td class="subject" dir="auto"><a href="/admin/tickets/1" tabindex="-1"><span class="pop"
                                                                                            data-test-id="table_ticket_subject">Chat with Pedro Santiago</span></a>
                    </td>
                    <td class="requester">Pedro Santiago</td>
                    <td class="created">
                        <time datetime="2018-09-06T15:30:04-03:00" title="6 de setembro de 2018 15:30">Ontem 15:30</time>
                    </td>
                    <td class="type">Ticket</td>
                    <td class="priority">-</td>
                    <td class="trailing"></td>
                </tr>
            </tbody>


            <tbody id="ember2783" class="ember-view" style="display:none;">
                <tr class="empty_set">
                    <td colspan="100">Nenhum ticket nesta visualização</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>