<h3 class="mb-4">Integração VCR</h3>

<div class="card">
    <h5 class="card-header">API</h5>
    <div class="list-group list-group-flush">
        {{#each api}}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <h6 class="mb-0">{{ this.title }}
                {{#if this.status}}
                    <span class="badge badge-success float-right">OK</span></h6>
                {{else}}
                    <span class="badge badge-secondary float-right">Inativo</span></h5>
                {{/if}}

                <small class="text-muted">Último Envio: {{this.last_received.created_at}}</small>
            </a>
        {{/each}}
    </div>
</div>

<div class="card mt-5">
    <h5 class="card-header">Webhooks</h5>
    <div class="list-group list-group-flush">
        {{#each webhooks}}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <h6 class="mb-0">{{ this.title }}
                    {{#if this.status}}
                        <span class="badge badge-success float-right">OK</span></h6>
                    {{else}}
                        <span class="badge badge-secondary float-right">Inativo</span></h5>
                    {{/if}}

                <small class="text-muted">Último Recebimento: {{this.last_received.created_at}}</small>
            </a>
        {{/each}}
    </div>
</div>