.card-small {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.01), 0px 4px 5px 0px rgba(0, 0, 0, 0.01), 0px 1px 10px 0px rgba(0, 0, 0, 0.06);
}

.stats-small {
    min-height: 8.7rem;
    overflow: hidden !important
}

.stats-small canvas {
    position: absolute;
    bottom: 0
}

.stats-small__data {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column;
    flex-flow: column;
    max-width: 50%;
    z-index: 1
}

.stats-small__label {
    font-size: .625rem;
    letter-spacing: .0625rem;
    color: #818ea3;
    font-weight: bold;
}

.stats-small__value {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 500
}

.stats-small__percentage {
    position: relative;
    display: table;
    margin-left: auto;
    padding-left: .9375rem
}

.stats-small__percentage--decrease, .stats-small__percentage--increase {
    font-size: .75rem
}

.stats-small__percentage--decrease::before, .stats-small__percentage--increase::before {
    content: "";
    width: .75rem;
    height: .375rem;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat
}

.stats-small__percentage--increase {
    color: #17c671
}

.stats-small__percentage--increase::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMTdjNjcxIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHBhdGggZD0iTTcgMTRsNS01IDUgNXoiLz4gPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiA8L3N2Zz4=)
}

.stats-small__percentage--decrease {
    color: #c4183c
}

.stats-small__percentage--decrease::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjYzQxODNjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTcgMTBsNSA1IDUtNXoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==)
}

.stats-small--1 .stats-small__data {
    max-width: 100%
}

.stats-small--1 .stats-small__percentage {
    margin: 0 auto
}

.stats-small--1 .stats-small__value {
    font-size: 2.0625rem
}

.stats-small--1 .stats-small__label {
    font-size: .75rem
}

.stats-small--1 .stats-small__percentage {
    font-size: .75rem
}

.stats-small--1 canvas {
    opacity: .5
}

.card-group .stats-small {
    position: relative;
    overflow: hidden
}